body {
    font-family: sans-serif;
}

#label {
    width: 533px;
    height: 20px;
    color: white;
    background-color: black;
}

button {
    background-color: lightblue;
    padding: 8px 12px;
    margin: 4px;
    font-size: 1em;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
    color: white;
}

/* flip the video image */
video {
    transform: scaleX(-1);
}

#display_image{
    width: 375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.background{
  background-color: rgb(23, 158, 167);
}

.layout{
    padding: 8px 12px;
}